import { <%= name %>Props, <%= name %>Value } from './interface';
import React, { memo, useCallback } from 'react';

import { safeCallFunction } from '../utils';

const <%= name %> = ({ value, onChange, ...props }: <%= name %>Props) => {
  const handleChange = useCallback(
    (e: <%= name %>Value) => {
      safeCallFunction(onChange, [e]);
    },
    [onChange],
  );
  return (
    <div className="<%= prefix %>-<%= componentName %>">

    </div>
  );
};

<%= name %>.defaultProps = {

};

export default memo(<%= name %>);
