<template>
  <div class="<%= prefix %>-<%= componentName %>-table-formatter">
    {{ data }}
  </div>
</template>

<script>
  export default {
    name: '<%= prefix %>-<%= componentName %>-table-formatter',
    props: {
      data: {
        type: <%= dataTypeU %>,
        default: <%- dataTypeDefaultValueU %>
      },
      label: {
        type: String,
        default: ''
      },
      formProps: {
        type: Object,
        default: () => {
          return {}
        }
      },
      rowData: {
        type: Object,
        default: () => {
          return {}
        }
      }
    },
  }

</script>

<style lang="less">
  .<%= prefix %>-<%= componentName %>-table-formatter {}
</style>
